@charset "UTF-8";

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            background-color: #f9f9f9;
        }

        main {
            padding: 2rem;
        }

        h1 {
            text-align: center;
            margin-bottom: 1rem;
        }

        .category-container, .products-container {
            margin-bottom: 2rem;
        }
